<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formularioEditar" (keyup.enter)="onUpdate()">
    <ion-card>
      <ion-item>
        <ion-label position="floating">URL imagen</ion-label>
        <ion-input
          formControlName="imagen"
          placeholder="imagen"
        ></ion-input>
      </ion-item>
      <ion-card-header>
        <ion-card-title>
          <ion-item>
            <ion-label position="floating">Titulo</ion-label>
            <ion-input
              formControlName="titulo"
              placeholder="Titulo"
            ></ion-input>
          </ion-item>
        </ion-card-title>
        <ion-card-subtitle></ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <ion-item counter="true">
          <ion-label position="floating">Descripción</ion-label>
          <ion-textarea
            formControlName="descripcion"
            [autoGrow]="true"
            maxlength="3000"
          ></ion-textarea>
        </ion-item>
      </ion-card-content>

      <ion-list>
        <ion-item>
          <ion-select
            formControlName="tipo"
            interface="popover"
            placeholder="Seleccione el tipo de contenido"
          >
            <ion-select-option value="pelicula">Pelicula</ion-select-option>
            <ion-select-option value="videojuegos"
              >Videojuegos</ion-select-option
            >
          </ion-select>
        </ion-item>
      </ion-list>

      <ion-button (click)="onUpdate()">Subir</ion-button>
    </ion-card>
  </form>
</ion-content>
